<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jackson.quizapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PunctuationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormQuizActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".QuestionsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".QuestionInfoActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>